.App { 
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

.button {
  width: 200px;
  margin:  2px;
}

.full-list{
  font-size: 20px;
}

.itens-inteiro{
  background-color: #282c34;
  border-radius: 43px;
}

.input-form{
  width: 300px;
  flex-direction: column;
}